ul li{
    list-style: none;
}
input{
    display: block;
    padding: 5px;
    text-align: center;
    margin: auto;
}
#content{
    width: 30%;
    height: 70vh;
    margin: auto;
    background-image: linear-gradient(180deg,white, #e8c5e5);
    text-align: center;
}
h1{
    background-color: #aa519e;
    color: #e1b0dd;
    padding: 5px;
}
h3{
    color: #aa519e;
}
button{
    padding: 5px;
    color: white;
    background-color: #679927;
    margin: 15px auto;
    border-radius: 20px;
    width: 40%;
    border-color: transparent;
    outline: none;
    display: block;
}
#resultat{
    color:#aa58a9;
    background-color: #e8c5e5;
}